<template lang="pug">
div.uk-container
    div.uk-container.uk-padding-large.uk-margin-large
        form.uk-form.uk-padding-large
            vk-alert(v-if="alert").uk-alert-danger
              p {{ alert }}
            div
                center
                  img(src="/precipitate-400.png", style="height: 200pt")
                h1.uk-text-center Search for Your Location
                div.precip-static-width.uk-align-center
                    input(type="search", v-model="pinQuery" @keyup="suggestLocation").uk-search.uk-input
                    div(v-if="pinSuggestions", padding="small", id="pinSuggestions").precip-drop.uk-card.uk-card-default
                      div.attribution
                        p Locations provided by 
                          a(href="https://mapbox.com") MapBox.com
                      ul.uk-list.uk-width-full
                        a(v-for="p in pinSuggestions" @click="clickPin(p)")
                            li {{ p.display_name }}
                    div.uk-container.uk-align-center
                      center Units:
                        div.uk-container.uk-align-center
                          vk-button(@click="units='f'" :disabled="units=='f'") ℉/mi
                          vk-button(@click="units='c'" :disabled="units=='c'") ℃/km
    div(v-show="icalUrl").uk-container
        center
            h1 Your iCal Link
            p Copy and paste it into your favorite calendar app!
            p
              a(:href="icalUrl")#icalUrl {{ icalUrl }}
    div.precip-icon-hover#hover-information
      vk-icon-button(icon="info", v-vk-tooltip="'Information'")
      vk-drop(mode="click").uk-card-body.uk-card-default
        h1 Instructions
        ol
          li Enter the location you'd like to get weather for in the <strong>Location</strong>
          li Select the location you want.
          li A URL will appear bewlow. Either click on the link or copy and paste it into your 
            | favorite calendar app.
    div.precip-icon-hover#hover-repository
      vk-icon-button(icon="git-branch", v-vk-tooltip="'Source Code'").uk-button-secondary
      vk-drop(mode="click").uk-card-body.uk-card-default
        h1 Open Source
        p This application is open source.
        p Head on over to 
          a(href="https://gitlab.com/srcrr/precipitate") https://gitlab.com/srcrr/precipitate 
          | to contribute or check out the source code.
    div.precip-icon-hover#hover-hireme
      a.uk-icon.uk-button-large.uk-icon-button.uk-round.uk-button-secondary(v-vk-tooltip="'Hire Me'")
        i.material-icons work
      vk-drop(mode="click").uk-card-body.uk-card-default
        h1 Hire Me!
        p The developer behind this wants to help you out.
         | If you like what you see here, feel free to reach out to me.
        p You can email me at
        p
          center
            vk-icon(icon="mail")
            | hireme@jordanhewitt.pro
        p or on <strong>Wire:</strong>
          center @TheSrcRr
        p I also have a portfolio site (with Photography!)
        p
          a(href="https://src-r-r.github.io") https://src-r-r.github.io
</template>

<script lang="ts">
import ics from "ics";
import axios, { AxiosResponse } from "axios";
import Vue, { PropOptions } from "vue";
import { Precipitator, UnitType } from "../api/precipitator";
 
import $ from "jquery";

const OWM_URL = "https://api.openweathermap.org/data/2.5/onecall";
const MAP_URL = "https://api.mapbox.com/geocoding/v5/mapbox.places/";
const RESULT_LIMIT = 5;

export default Vue.extend({
  mounted () {
  },
  data() {
    console.log(process.env);
    console.log(process.env.MYVAR);
    if (!process.env.MAPBOX_TOKEN)
      throw new Error("Mapbox token is null");
    return {
      pinQuery: null as null | string,
      pin: null as null | {},
      pinSuggestions: null as null | object[],
      alert: null as null | string,
      units: "f",
      precipitator: new Precipitator(null, null, null, process.env.MAPBOX_TOKEN)
    };
  },
  computed: {
    icalUrl() {
      let u = this.units == "c" ? UnitType.metric : UnitType.imperial;
      let url = (this as any).precipitator.update(
        (this as any).units,
        (this as any).pin?.lat || null,
        (this as any).pin?.lon || null
      ).serviceUrl;
      if (!url) return null;
      // select($("#icalUrl").first());
      let target = document.getElementById("icalUrl")
      if (target) target.scrollIntoView();
      return `${window.location.protocol}//${window.location.host}${url}`
    },
  },
  methods: {
    async clickPin(thePin: any) {
      this.pin = thePin;
      this.pinQuery = thePin.display_name;
      this.pinSuggestions = null;
    },
    async suggestLocationMapbox() {
      console.debug(this.pinQuery);
      let token = process.env.MAPBOX_TOKEN;
      if (this.pinQuery == null || this.pinQuery?.length === 0) return;
      if (process.env.NODE_ENV !== "production") {
        if (!token) {
          console.error("Please set the MAPBOX_TOKEN environment variable");
          return;
        }
      }
      let url = MAP_URL + `${this.pinQuery}.json`;
      let params = {
        autocomplete: true,
        limit: RESULT_LIMIT,
        access_token: token,
      };
      let resp = await axios.get(url, { params: params });
      let vm = this;
      this.pinSuggestions = resp.data.features.map(function(feature: any) {
        let sugg = {
          display_name: feature.place_name,
          lat: feature.center[0],
          lon: feature.center[1],
        };
        return sugg;
      });
      // this.pinSuggestions = resp.data;
    },
    async suggestLocationNominatim() {
      if (this.pinQuery == null || this.pinQuery?.length === 0) return;
      let params = {
        limit: 5,
        format: "json",
        q: this.pinQuery,
      };
      let url = `http://localhost:7070/search/`;
      console.log(params);
      let resp = await axios.get(url, { params: params });
      console.log(resp.data);
      this.pinSuggestions = resp.data;
    },
    async suggestLocation() {
      $("#pinSuggestions").show();
      // console.log(this.pinQuery);
      this.pinSuggestions = [];
      await this.suggestLocationMapbox();
    },
  },
});
</script>

<style lang="stylus">
.precip-static-width
    width 75%
.precip-drop
  position static
  margin 0
  padding 0
  top 0
  li
    padding 5pt
.uk-card ul li:hover
  background-color lightgray

.precip-icon-hover
  position absolute
  text-decoration none
  a.uk-icon
    border-radius 40pt
    height: 40pt
    width 40pt
    padding 0
#hover-repository
  right 10pt
  top 5pt
#hover-information
  right 60pt
  top 5pt
#hover-hireme
  bottom 10pt
  right 30pt
  a.uk-icon
    background-color darkred
.attribution
  font-size 75%
  color: lightgray
  padding 0pt 0pt
  a
    color lightgray
</style>
