<template>
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Precipitate | Get an iCal Link for your local forecast</title>
      <meta name="description" content="Precipitate | Get an iCal Link for your local forecast">
      <meta name="author" content="Damn Good Tech">
      <link rel="stylesheet" href="/material-icons.woff">
      <link rel="stylesheet" href="/index.css">
    </head>
    <body>
        <client-only>
          <Nuxt />
        </client-only>
    </body>
  </html>
</template>

<script>
import Vue from 'vue';
import Vuex, { Module } from 'vuex';
import Vuikit from 'vuikit'
import VuikitIcons from '@vuikit/icons'

// import "@vuikit/theme";

Vue.use(Vuex);
Vue.use(Vuikit);
Vue.use(VuikitIcons);

export default {};

</script>

<style>
html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: #fffaf8ee;
}

</style>